@page "/movies/{id:int}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject WatchlistService WatchlistService
@using X00185050_CA3_Blazor.Services
@using X00185050_CA3_Blazor.Models;

<h3>Movie Details</h3>

@if (movie == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="detail_container card border border-secondary d-flex flex-row">
        <img src="https://image.tmdb.org/t/p/w500/@movie.Poster_Path" class="card-img-top" alt="@movie.Title" />
        <div class="card-body">
            <h4 class="card-title">@movie.Title</h4>
            <p >@string.Join(", ", movie.Genres.Select(g => g.Name))</p>
            <p><strong>Release Date:</strong> @movie.Release_Date.ToString("MMMM dd, yyyy")</p>
            <p><strong>Description:</strong> @movie.Overview</p>
            <p class="card-text">
                <span class="border border-1 border-secondary rounded-3 p-1"
                      style="background-color: @(movie.Vote_Average switch {
                                <= 0 => "lightgrey",
                                > 0 and < 5 => "#FF1D18",
                                >= 5 and < 6 =>  "#FF6865",
                                >= 6 and < 7 => "#FFC78F",
                                >= 7 and < 8 => "#83F28F",
                                > 8 => "#00C04B",
                                _ => "transparent"
                            });">@movie.Vote_Average/10</span>
            </p>
            <p><strong>Runtime:</strong> @($"{movie.Runtime / 60} hr {movie.Runtime % 60} min")</p>
            <button class="btn btn-primary mt-3" @onclick="AddToWatchlist">Add to Watchlist</button>

        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Movie? movie;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Movie ID: {Id}");
        await FetchMovieDetails();
    }

    private async Task FetchMovieDetails()
    {
        try
        {
            var apiKey = Configuration["TMDB:APIKey"];
            var apiUrl = $"https://api.themoviedb.org/3/movie/{Id}?api_key={apiKey}&language=en-US";

            movie = await Http.GetFromJsonAsync<Movie>(apiUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching movie details: {ex.Message}");
        }
    }

    private void AddToWatchlist()
    {
        if (movie != null)
        {
            WatchlistService.AddToWatchlist(movie.Id);
        }
    }


}
